<div>
  <p>test works!</p>
  이름 : <input type="text" [(ngModel)]="name"/>
  <button (click)="alertName()">click</button>

  <div><br/></div>
  
  <div>
    <p>Num1 : <input type="text" [(ngModel)]="num1"/></p>
    <p><select [(ngModel)]="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">%</option>
      </select></p>
    <p>Num2 : <input type="text" [(ngModel)]="num2"/></p>
    <p>= <input type="text" [(ngModel)]="result"/></p>
    <button [style.color]="isReady?'red':'black'" (click)="plus()">plus</button>
  </div>
</div>
