<div>
  name: <input type="text" [(ngModel)]="searchUser.userName"/>
  id: <input type="text" [(ngModel)]="searchUser.id"/>
  pwd: <input type="text" [(ngModel)]="searchUser.pwd"/>
  complete: <input type="text" [(ngModel)]="searchUser.complete"/>
  <button  (click)="getUsers()">getUsers</button>
  <button  (click)="getUsers2()">getUsers2</button>
  <button  (click)="showHideAddUserDiv()">{{addUserBtnStr}}</button><br><br>
  <!-- (outputUser)="addUser($event)" : 자식 -> 부모; 자식 컴포넌트에서 보낸 정보를 가공할 함수 호출; $event는 변경할 수 없음 -->
  <!-- [addUserShow]="addUserShow" : 부모 -> 자식 -->
  <app-user-insert (outputUser)="addUser($event)" *ngIf="addUserShow"></app-user-insert>
</div>
<div class="container">
  <h2>{{title}}</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>userNo</th>
        <th>userName</th>
        <th>userId</th>
        <th>userPwd</th>
        <th>완료여부</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let un of userList">
        <td><input type="text" value="{{un.userNo}}" disabled=true/></td>
        <td><input type="text" [(ngModel)]="un.userName"/></td>
        <td><input type="text" [(ngModel)]="un.userId"/></td>
        <td><input type="text" [(ngModel)]="un.userPwd"/></td>
        <td>
            <input type="checkbox" [checked]="un.complete"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
